<header class="tql-padding-20 pb-0">
  <h2 class="text-blue page-title">{{title}}</h2>
  <!-- <a [routerLink]="['/', link.route]" *ngFor="let link of navLinks">{{link.name}}</a> -->
  <div class="status-container flex justify-end mr-5">
    <div>
      <button class="mr-2" mat-raised-button>Customers: 120</button>
      <button class="mr-2" mat-raised-button color="primary">Delivery today: 20</button>
      <button class="mr-2" mat-icon-button>
        <i class="fal fa-sync-alt"></i>
      </button>
    </div>
    <div>
      <button mat-raised-button color="warn">Alerts: 0</button>
    </div>
  </div>
</header>
