<div class='container d-flex justify-content-center align-items-center'>
  <!-- <div class='loader'>
    <div class='loader--dot'></div>
    <div class='loader--dot'></div>
    <div class='loader--dot'></div>
    <div class='loader--dot'></div>
    <div class='loader--dot'></div>
    <div class='loader--dot'></div>
    <div class='loader--text'></div>
  </div> -->
  <div class="spinner-grow bg-blue" role="status"></div>
  <div class="spinner-grow bg-blue" role="status"></div>
  <div class="spinner-grow bg-blue" role="status"></div>
  <div class="spinner-grow bg-blue" role="status"></div>
</div>