.form-buttons {
    justify-content: flex-end;
}

.dialog-container {
    grid-template-rows: auto 1fr;
}

button:first-child {
    margin-left: 0;
}

.btn-i {
    color: white;
    &>i {
        padding-right: 8px;
    }
    &:disabled {
        color: #ffffff !important;
    }
}

.two-col {
    grid-template-columns: 1fr 1fr;
}

.tql-table {
    width: 430px !important;
}

.tql-table > tbody > tr > td {
    padding: 5px 20px;
}

.btn-action-group {
    background-color: #1f2b43;
    border-radius: 3px;
}