.image {
  display: inline-block;
  width: 24px;
  height: 34px;
  background: url("~src/assets/images/map/marker.png") center no-repeat;
  background-size: cover;
}

i {
  font-size: 0.85em;
  margin-top: 5px;
}
