<div class="p-3">
  <div class="panel tql-panel flex-row mr-3">
    <div class="panel-heading">
      <span class="title text-blue">Driver History</span>
    </div>
    <div class="table-wrapper">
      <table class="tql-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Driver Name</th>
            <th>Order No.</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of history_orders; let i = index">
            <td>{{i + 1}}</td>
            <td>
              <ng-container [ngTemplateOutlet]="driverName" [ngTemplateOutletContext]="{ driver: item.drivers[0] }">
              </ng-container>,
              <ng-container [ngTemplateOutlet]="driverName" [ngTemplateOutletContext]="{driver: item.drivers[1] }">
              </ng-container>
            </td>
            <td>{{item['no']}}</td>
            <td>{{item['name']}}</td>
            <td>{{item['quantity']}}</td>
            <td>{{item['date'] | date:'mediumDate'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<ng-template #driverName let-driver="driver">
  <a (click)="openDriverDetail(driver)" class="btn btn-link text-blue p-0">{{driver.name}}</a>
</ng-template>