<div class="edit-param p-3">
  <div class="settings w-100 position-relative cl_medium_jungle_green-background">
    <i class="fal fa-times position-absolute cursor-pointer cl_cool_grey-color" style="right: 10px;"
      (click)="onCloseEditing()"></i>
    <h4 class="title">{{selectedParam.name}}</h4>
    <form #paramEditForm="ngForm" name="form">
      <div class="infos">
        <div class="item">
          <label class="label" for="category">Category</label>
          <div class="form-group">
            <input class="form-control control no-radius-input" type="text" name="category"
              required  pattern="^(?!\s+$).+"
              [disabled]="!isEditing" [(ngModel)]="selectedParam.category">
          </div>
        </div>
        <div class="item">
          <label class="label" for="keyType">Key Type</label>
          <div class="form-group">
            <input class="form-control control no-radius-input" type="text" name="keyType"
              required pattern="^(?!\s+$).+"
              [disabled]="!isEditing" [(ngModel)]="selectedParam.keyType">
          </div>
        </div>
        <div class="item">
          <label class="label" for="key">Key Content</label>
          <div class="form-group">
            <input class="form-control control no-radius-input" type="text" name="key"
              required pattern="^(?!\s+$).+"
              [disabled]="!isEditing" [(ngModel)]="selectedParam.key">
          </div>
        </div>
        <div class="item">
          <label class="label" for="valueType">Value Type</label>
          <div class="form-group">
            <input class="form-control control no-radius-input" type="text" name="valueType"
              required pattern="^(?!\s+$).+"
              [disabled]="!isEditing" [(ngModel)]="selectedParam.type">
          </div>
        </div>
        <div class="item">
          <label class="label" for="value">Value Content</label>
          <div class="form-group">
            <ng-select [items]="['true', 'false']" required [(ngModel)]="selectedParam.value"
              *ngIf="selectedParam.type === 'Boolean'" name="value"
              [ngClass]="{'no-select-as-text': !isEditing, 'mt-3': isEditing}" [disabled]="!isEditing"
              [clearable]="false"></ng-select>

            <input class="form-control control no-radius-input" type="text" name="value"
              required pattern="^(?!\s+$).+" [disabled]="!isEditing" [(ngModel)]="selectedParam.value"
              *ngIf="['String', 'Number'].includes(selectedParam.type)">

            <textarea class="form-control control no-radius-input" type="text" name="value"
              required pattern="^(?!\s+$).+" [disabled]="!isEditing" [(ngModel)]="selectedParam.value" rows="9"
              *ngIf="selectedParam.type === 'LongText'"></textarea>
          </div>
        </div>
        <div class="item">
          <label class="label" for="desc">Description</label>
          <div class="form-group">
            <textarea class="form-control control no-radius-input" type="text" name="desc"
              [disabled]="!isEditing" [(ngModel)]="selectedParam.description" rows="1"></textarea>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-2 mb-1 footer">
          <button type="submit" class="btn-i btn-i-icon btn-edit text-white" *ngIf="!isEditing" mat-raised-button
            [class.mat-elevation-z8]="true" (click)="isEditing=true"><i class="fal fa-edit ml-0 mr-1"></i> Edit</button>
          <button type="button" class="mx-2 btn-i btn-i-icon btn-cancel ml-3 text-white" *ngIf="isEditing"
            mat-raised-button [class.mat-elevation-z8]="true" (click)="doCancel()"><i class="far fa-ban mr-1"></i>
            Cancel</button>
          <button type="submit" class="btn-i btn-i-icon btn-save text-white" *ngIf="isEditing" mat-raised-button
            [class.mat-elevation-z8]="true" [disabled]="paramEditForm.form.invalid || paramEditForm.form.pristine"
            (click)="onUpdateParamValue()"><i class="fal fa-check ml-0 mr-1"></i> Update</button>
        </div>
      </div>

    </form>
  </div>
</div>
