<div>
  <div class="table-mini-simple-wrapper">
    <table mat-table [dataSource]="tableData" class="w-100">
      <ng-container *ngFor="let key of displayedColumns" matColumnDef="{{ key }}" [ngSwitch]="key">
        <ng-container *ngSwitchCase="'index'">
          <th mat-header-cell *matHeaderCellDef>
            <ng-container *ngTemplateOutlet="ind"></ng-container>
            <ng-template #ind><span>#</span></ng-template>
          </th>
          <td mat-cell *matCellDef="let i = index">
            <ng-container *ngTemplateOutlet="indV"></ng-container>
            <ng-template #indV>
              <div class="text-left">{{i + 1}}</div>
            </ng-template>
          </td>
        </ng-container>

        <ng-container *ngSwitchCase="'action'">
          <th mat-header-cell *matHeaderCellDef>
            <ng-container *ngTemplateOutlet="action"></ng-container>
            <ng-template #action><span>Action</span></ng-template>
          </th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngTemplateOutlet="actionV"></ng-container>
            <ng-template #actionV>
              <div class="text-left">
                <div appClickStopPropagation (click)="onDelete(row)">
                  <i class="far fa-trash-alt cursor-pointer text-red"></i>
                </div>
              </div>
            </ng-template>
          </td>
        </ng-container>

        <ng-container *ngSwitchCase="'created'">
          <th mat-header-cell *matHeaderCellDef>
            {{ key | mappingLabel }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{row?._data[key] && row?._data[key] !== 'NA' ? (row?._data[key] | date:'yyyy-MM-dd (HH:mm)') : ''}}
          </td>
        </ng-container>

        <ng-container *ngSwitchCase="'modified'">
          <th mat-header-cell *matHeaderCellDef>
            {{ key | mappingLabel }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{row?._data[key] && row?._data[key] !== 'NA' ? (row?._data[key] | date:'yyyy-MM-dd (HH:mm)') : ''}}
          </td>
        </ng-container>
        <!--specific attributes-- END -->

        <!-- index -->
        <ng-container *ngSwitchDefault>
          <th mat-header-cell *matHeaderCellDef>
            {{ key | mappingLabel }}
          </th>
          <td mat-cell *matCellDef="let row">{{row[key]}}</td>
        </ng-container>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </div>

  <div class="d-flex align-items-center justify-content-between mt-2" *ngIf="isEditing">
    <div class="align-items-center justify-content-between w-75">
      <div class="d-flex w-100">
        <button mat-raised-button type="button" class="w-25 btn btn-blue" (click)="openSelection()"
          [ngClass]="{'bg-grey': !availableDataArr.length}">
          <i class="fal fa-plus"></i></button>
        <div class="w-75 table-mini-wrapper" style="height: 36px; overflow: visible;">
          <div style="max-height: 400px; overflow: auto;">
            <table class="w-100 position-relative" *ngIf="isOpenSelector" style="z-index: 1;">
              <tr *ngFor="let item of availableDataArr" (click)="onAdd(item)" class="cursor-pointer">
                <td>{{item[showKey]}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <button class="w-25 text-right" (click)="onDeleteAll()" mat-button><span class="color-red">Clear Set</span></button>
  </div>
</div>