.btn {
  width: 100px;
}

.sub {
  padding: 10px;
  text-align: center;
  margin: 0;
  min-width: 300px;
  max-width: 40vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .sub {
    // width: 100vw;
    // width: 100%;
  }
} 

.icon {
  color: rgba(255, 230, 0, 1);
  margin-right: 15px;
}