<div class="m-3 p-3 import-data bg-blue-dark-medium">
  <div class="d-flex align-items-center my-3">
    <div class="w-25">Import Customer Historic Inventory</div>
    <button mat-raised-button [class.mat-elevation-z8]="true" class="btn-blue mx-3"
    (click)="onImportHistoryInventory()">
      <i class="fal fa-file-import ml-0 mr-2"></i> Import
    </button>
    <i class="fal fa-question-circle text-blue"></i>
  </div>
  <div class="d-flex align-items-center my-3">
    <div class="w-25">Import Order History</div>
    <button mat-raised-button [class.mat-elevation-z8]="true" class="btn-blue mx-3"
            (click)="onImportOrderHistory()">
      <i class="fal fa-file-import ml-0 mr-2"></i> Import
    </button>
    <i class="fal fa-question-circle text-blue"></i>
  </div>
</div>
