<section class="not-found">
  <div class="container d-flex align-items-center h-100">
    <div class="d-flex justify-content-center w-100">
      <div class="d-flex flex-column mr-5 w-50">
        <div class="not-found-image flex-grow-1"></div>
        <div class="text-center">
          <a class="text-grey" target="_blank" href="http://www.freepik.com">Designed by fullvector / Freepik</a>
        </div>
      </div>
      <div class="text-center not-found-wrap ml-5">
        <div class="logo">
          <img src="assets/images/Chevron_Logo_white.png" />
        </div>
        <h1>{{render.code}}</h1>
        <h4 class="subheading">{{render.title}}</h4>
        <p class="mb-5 text-grey">{{render.desc}}</p>
        <button class="text-white border-0 px-3 py-2 rounded" (click)="onBack()">Go back to login</button>
      </div>
    </div>
  </div>
</section>
