<div class="tab-container bg-blue-darkest h-100">
  <mat-tab-group class="h-100">
    <mat-tab label="Details" #detailTab>
      <div class="d-flex h-100">
        <div class="flex-grow-1">
          <ng-container [ngTemplateOutlet]="tableTemplate"></ng-container>
        </div>
        <div class="pl-2 pt-2 min-w-300px h-100">
          <perfect-scrollbar class="h-100">
            <ng-container *ngIf="detailTab.isActive" [ngTemplateOutlet]="chartTemplate"></ng-container>
            <div class="info-dashboard-container mb-3">
              <info-dashboard [dataContext]="tankLevelsInfo"></info-dashboard>
            </div>
          </perfect-scrollbar>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #tableTemplate>
  <perfect-scrollbar class="h-100 position-relative">
    <table class="tql-table table-data-detail">
      <thead class="stick">
      <tr>
        <th class="bg-blue-darkest">
          <div class="text-white">Customer Name</div>
          <div class="text-blue mt-2">{{ customer?.customerName }}</div>
        </th>
        <th class="bg-blue-darkest">
          <div class="d-flex justify-content-between">
            <div>
              <div class="text-white">Station Name</div>
              <div class="text-blue mt-2">{{ station?.stationName }}</div>
            </div>
            <div *ngIf="!readonly && !popupEdit && !tank.archived" class="btn-group ml-3">
              <button mat-raised-button *ngIf="edit" class="p-0 s-36 btn-save color-default ml-3"
                      [class.disabled-half]="tankForm.invalid" (click)="onSave()">
                <i class="fal fa-check ml-0"></i>
              </button>
              <button mat-raised-button *ngIf="!edit" class="p-0 s-36 btn-edit color-default ml-3" (click)="onEdit()">
                <i class="fal fa-edit ml-0"></i>
              </button>
              <button mat-raised-button *ngIf="edit" class="p-0 s-36 btn-cancel ml-3" (click)="onCancelEdit()">
                <i class="fal fa-times"></i>
              </button>
            </div>
            <div *ngIf="!readonly && !popupEdit && tank.archived" class="btn-group ml-3">
              <button mat-raised-button class="p-0 s-36 btn-cancel ml-3" (click)="onDeleteArchivedTank()">
                <i class="far fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </th>
      </tr>
      </thead>
      <tbody *ngIf="!!tank">
      <tr *ngFor="
            let item of [
              'currentUllage',
              'currentVolume',
              'maxFillCapacityPercentage',
              'productCode',
              'tankCapacity',
              'maxFillCapacity',
              'PreferredMaxFill',
              'deadStock',
              'isPtoReq',
              'archived'
            ]
          ">
        <td>{{ item | mappingLabel }}</td>
        <td *ngIf="!edit">
          <ng-container [ngSwitch]="item">
            <ng-container *ngSwitchCase="
                  ['deadStock', 'maxFillCapacity', 'currentUllage', 'currentVolume', 'tankCapacity','PreferredMaxFill'].includes(item)
                    ? item : ''">
              <div class="d-flex">
                <div class="flex-grow-1">{{ tankForm.get(item).value }}</div>
                <span class="ml-1">Liters</span>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'isPtoReq'">
              <span>{{ tankForm.get(item).value ? 'Yes' : 'No' }}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'archived'">
              <span>{{ (tankForm.get(item).value !== '' && tankForm.get(item).value) ? 'Yes' : (tankForm.get(item).value === null ? '' : 'No') }}</span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <span>{{ tankForm.get(item).value }}</span>
            </ng-container>
          </ng-container>
        </td>
        <td *ngIf="edit" class="td-edit">
          <ng-container [ngSwitch]="item">
            <ng-container *ngSwitchCase="'isPtoReq'">
              <text-field [input]="tankForm.get(item)" type="radioBox"></text-field>
            </ng-container>
            <ng-container *ngSwitchCase="'archived'">
              <text-field [input]="tankForm.get(item)" type="radioBox" *ngIf="tank.archived!==null"></text-field>
            </ng-container>
            <ng-container *ngSwitchCase="'productCode'">
              <text-field [input]="tankForm.get(item)" type="select-menu" [arrayList]="productCodeData"></text-field>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <text-field [input]="tankForm.get(item)" type="number"></text-field>
            </ng-container>
          </ng-container>
        </td>
      </tr>
      <tr *ngFor="let item of tank?._data | keyValueOrder
          : [
              'stationId',
              'createDate',
              'sysId',
              'userName',
              'deadStock',
              'maxFillCapacity',
              'currentUllage',
              'currentVolume',
              'stationId',
              'maxFillCapacityPercentage',
              'PreferredMaxFill',
              'isPtoReq',
              'archived',
              'tankCapacity',
              'productCode']">
        <td>{{ item.key | mappingLabel }}</td>
        <td>{{ item.value }}</td>
      </tr>
      <tr>
        <td>Updated By</td>
        <td>{{ tank?.userName }}</td>
      </tr>
      </tbody>
    </table>
  </perfect-scrollbar>
</ng-template>

<ng-template #chartTemplate>

  <div class="d-flex justify-content-center mt-3">
    <app-station-inventory-details
      [station]="station"
      [prefix]="'tank_details'"
      [type]="'currentInventory'"
      [inventoryByProduct]="[]"
      [inventoryByTank]="[tank]"
      [isShowByProduct]="false"
    ></app-station-inventory-details>
  </div>
</ng-template>
