.gm-style {
  .gm-style-iw-c {
    border-radius: 0px !important;
    background-color: #1f2b43;
    width: 260px;
    padding: 15px !important;
    transform: translate(calc(-100% + 30px), calc(-100% - 32px)) !important;
  }
  .gm-style-iw-d {
    background-color: #1f2b43;
    overflow: hidden !important;
  }
  .gm-style-iw-t {
    &::after {
      background: #1f2b43 !important;
      transform: translate(-50%, calc(-50% - 32px)) rotate(-45deg);
    }
  }
}

.gm-style-iw-d + button {
  display: none !important;
}
