
.map-wrapper {
  width: 100%;
  height: 100%;
  min-width: 300px;
}

.custom-marker {
  $marker_width: 24;
  $marker_height: 24;
  width: #{$marker_width}px;
  height: #{$marker_height}px;
  position: relative;
  cursor: pointer;

  &.logo {
    z-index: 10;
  }

  .icon {
    width: 24px;
    height: 34px;
    position: relative;
    top: -#{$marker_height}px;
    //left: -12px;
  }

  .icon-small {
    position: absolute;
    height: 13px;
    top: -17px;
    left: 5px;
    z-index: 1;
  }

  .icon-terminal {
    @extend .icon-small;
  }

  .icon-station {
    @extend .icon-small;
    left: 7px;
  }

  .icon-region {
    @extend .icon-small;
    left: 6px;
  }

  .capture {
    $width: 70;
    position: absolute;
    padding: 3px 10px;
    color: white;
    white-space: nowrap;
    top: 50%;
    width: #{$width}px;
    left: -#{($width - $marker_width)/2}px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;

    &.red {
      background: $cl_red;
    }

    &.blue {
      background: $cl_blue;
    }
  }

  .number {
    width: 100%;
    position: absolute;
    top: -18px;
    left: 0;
    text-align: center;
    color: white;
    font-size: 13px;
    z-index: 1;
  }
}

.gm-style-iw {
  .iw-td {
    @extend .size-12;
    margin: 0;
  }

  .iw-table {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-gap: 6px;
  }

  .iw-list {
    margin-bottom: 0 !important;
    margin-top: 6px !important;

    &:first-child {
      margin-top: 0 !important;
    }
  }

  .close-icon {
    position: absolute;
    top: 5px;
    right: 7px;
    cursor: pointer;
  }
}

.location {
  position: relative;
  cursor: pointer;

  &::after {
    content: '\f3c5';
    color: #9fb2bf;
    background-color: #3c4d6a;
    padding-left: 5px;
    font-family: 'Font Awesome 5 Pro';
    position: absolute;
    height: 100%;
    width: 25px;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    font-weight: lighter;
  }

  .non-typing {
    pointer-events: none;
  }
}
