.min-w-300px {
  min-width: 300px;
}

.min-250 {
  min-width: 250px !important;
}

.max-w-200px {
  max-width: 200px !important;
}

.s-36 {
  height: 36px !important;
  width: 36px !important;
  min-width: 36px !important;
}

.w-191 {
  width: 191px;
}

.w-field {
  width: 260px;
}
/*

.number {
  min-width: 45px;
  width: fit-content;
}
*/
