.ml-20 {
  margin-left: 20px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.w-fit {
  max-width: fit-content !important;
  width: fit-content !important;
}

.plr-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-i {
  padding-bottom: 4.5px !important;
  padding-top: 4.5px !important;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-5px {
  padding-right: 5px !important;
}
