.size-16 {
  font-size: calc(1rem / 14 * 16) !important; //16px
}

.size-14 {
  font-size: 1rem !important; //14px
}

.size-12 {
  font-size: calc(1rem / 14 * 12) !important; //12px
}

.size-1r2 {
  font-size: 1.2rem;
}

.size-1r4 {
  font-size: 1.4rem;
}

.size-0r8 {
  font-size: 0.8rem;
}

.size-0r6 {
  font-size: 0.6rem;
}

.lh-20px {
  line-height: 20px;
}

.text-pink {
  color: #e8646e;
}

.text-orange {
  color: #c19669;
}

.text-yellow {
  color: #ffe600;
}

.text-blue {
  color: #2496c9;
}


