$cl_blue: #2496c9;
$cl_brown: #c19669;
$cl_blue_darken: #23334c;
$cl_blue_medium_dark: #1f2b43;
$cl_blue_darkest: #182130;
$cl_dark_jungle_green: #142134;

$cl_row_odd: #132836;
$cl_row_even: #061d2b;

$cl_panel_input_bg: #2f405d;
$cl_text_default: white;
$cl_text_grey: #58667b;

$cl_border_grey: #dadce0;
$cl_cadet: #4a6170;

$cl_border_1: #3d4f6d;
$cl_border_2: #2f405d;

$cl_blue_wild: #9fb2bf;
$cl_blue_dark: #03556c;
$cl_grey_dark_light: #28303a80;
$cl_sandy_brown: #f0a256;
$cl_white: #ffffff;
$cl_manatee: #999999;

$cl_text: #9fb2bf;
$cl_charcoal: #263653;
$cl_aquamarine: #62e8c8;
$cl_deep_peach: #ffd391;
$cl_input: #3C4D6A;

$cl_pastel_red: #ff5d6a;
$cl_twilight_lavender: #883180;
$cl_lion: #c18f5b;
$cl_Golden_yellow: #ffe600;
$cl_slate_blue: #626ed4;
$cl_water_spout: #00eeff;
$cl_tangerine: #f4a81e;

$cl_patel_yellow: #f4ff91;
$cl_neon_carrot: #f8a13f;
$cl_bright_cerulean: #33b6f1;
$cl_red: #ff5d6a;
$cl_light_sea_green: #1cbfae;
$cl_carolina_blue: #919cff;
$cl_golden: #ffe600;
$cl_ultramarine_blue: #2d6cff;
$cl_carolina_pink: #ffa4d1;
$cl_dollar_bill: #86cf52;

$main_wrapper_padding_top: 60px;
$main_wrapper_padding_bottom: 0px;
$main_wrapper_padding_left: 70px;
$main_wrapper_padding_right: 0px;


$cl_blue_light: #0069c0;
$cl_white_row_1: #f6f7f8;
$cl_white_row_2: #dfe1e3;
$cl_cream: #f0f2f4;
$cl_light_cream: #f6f6f6;
$cl_red_light: #b30002;
$cl_orange: #dc9d07;
$cl_orange_light: #a56f00;
$cl_grey: #58627B;
$cl_grey_light: #7f7f7f;
$cl_grey_black: #cfcfcf;
$cl_light_grey: #e6e6e6;
$cl_grey_blue: #708990;
$cl_black: #101c26;
$cl_black_grey: #333333;
$cl_space_grey: #3e4952;
$cl_dark: #111e28;
$cl_middle_blue: #324f64;
$cl_dark_blue: #1b303f;
$cl_darker_blue: #132836;
$cl_darkest_blue: #061d2b;
$cl_dark_grey: #999999;
$cl_input_text_error: #ef2a2b;
$cl_panel_heading: #292f38;
$cl_h: #b1bdc7;
$cl_alert_blue: #119ed9;
$cl_alert_green: #dc9d07;
$cl_alert_red: #ee2c2c;
$cl_table_1: #12222d;
$cl_table_3: #3D596C;
$cl_table_4: #162632;
$btn_red_wrapper: #fae4e3;
$btn_blue_wrapper: #e3f2fd;
$btn_green_wrapper: #fff3e0;
$btn_grey_wrapper: #f5f5f5;
$cl_label_disable: #dbdbdb;
$cl_label_disable_dark: #335065;
$cl_maya_blue: #61cceb;
$cl_jasper: #d83935;
$cl_darker: #22262F;
$cl_grey_70: #809AB6;

$cl_bg: #1b262d;
$cl_grey_dark: #28303a;
$cl_input_light: #e9edf2;
$cl_cyan_light: #dcf7ff;
$cl_yellow_india: #e3ab47;
$cl_topaz: #f3c36f;
$cl_coral_pink: #ff8888;
$cl_blue1: #61cceb;
$cl_blue2: #1397bc;
$cl_blue3: #03556c;
$cl_somi_dark_jungle_green: #1F1F25;
$cl_medium_jungle_green: #2f323e;
$cl_light_jungle_green: #3d4352;
$cl_payne_grey: #58627b;
$cl_cool_grey: #809ab6;
$cl_green: #61af08;
$cl_yellow: #d9bd02;
$cl_blue_tufts: #3b89c5;
$cl_kelly_green: #61af08;
$cl_tea_green: #d8f8b3;
$cl_aqua: #66e3df;
