<div [class.mat-elevation-z8]="true">
  <div mat-dialog-title>
    <div class="d-flex flex-row title align-items-center">
      <span class="flex-grow-1">New Delivery Point Group</span>
      <button class="close" mat-icon-button (click)="onCancel()">
        <i class="fal fa-times"></i>
      </button>
    </div>
  </div>

  <div mat-dialog-content class="layout-dialog-form edit">
    <div mat-dialog-content class="dialog-content-full layout-dialog-form settings">
      <form #editForm="ngForm" name="form">
        <div class="infos">
          <div class="row">
            <div class="item col-12">
              <label class="label" for="name">Name</label>
              <div class="form-group">
                <input class="form-control control no-radius-input" type="text" name="name" required
                  pattern="^(?!\s+$).+" [(ngModel)]="selectedItem.name">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="item col-12">
              <label class="label" for="description">Description</label>
              <div class="form-group">
                <input class="form-control control no-radius-input" type="text" name="description" required
                  pattern="^(?!\s+$).+" [(ngModel)]="selectedItem.description">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="form-buttons">
  <button type="submit" class="btn btn-blue ml-10" (click)="onCreate()"
    [ngClass]="{'disabled-half': editForm.form.invalid || editForm.form.pristine}">
    <i class="fal fa-check"></i><span class="ml-2">Create New</span>
  </button>
</div>