<div class="compact-wrapper d-flex flex-column min-h-100">
  <div class="title">
    <div class=" d-flex align-items-center flex-row">
      <span class="text flex-grow-1">Truck Stop - {{object?.name}}</span>
      <button mat-icon-button (click)="close()" class="icon">
        <mat-icon><i class="fal fa-times"></i></mat-icon>
      </button>
    </div>
    <hr>
  </div>
  <div class="forms-control py-3">
    <form
      id="form-edit"
      name="form"
      #f="ngForm"
      (ngSubmit)="formDOM.valid && onUpdate()"
      *ngIf="!!formDOM"
    >
      <div class="pb-4" *ngFor="let key of keys">
        <div class="text-white pb-2" [ngSwitch]="key">
          <ng-container *ngSwitchDefault>{{key | mappingLabel}}</ng-container>
        </div>
        <div class="text-grey" [ngSwitch]="key" *ngIf="!isEditing">
          <ng-container *ngSwitchDefault>
            {{formDOM.get(key).value || '[no data]'}}
          </ng-container>
        </div>
        <div [ngSwitch]="key" *ngIf="isEditing">
          <ng-container *ngSwitchDefault>
            <input-field
              [input]="formDOM.get(key)"
              [placeholder]="'Enter '+key"
              [isSubmit]="f.submitted"
            ></input-field>
          </ng-container>
        </div>
      </div>
    </form>
    <div class="pb-4">
      <div class="text-white pb-3">Geospatial Fence Points</div>
      <div>
        <app-table-geo-small [points]="coordinates" (onPointChange)="onCoordinateChange($event)"
                             [isEditing]="isEditing"></app-table-geo-small>
      </div>
    </div>
    <div class="pb-4">
      <div class="text-white pb-3">Location</div>
      <div class="map-mini">
        <app-mpm-terminal [readonly]="true" [points]="coordinates"></app-mpm-terminal>
        <div (click)="onCoordinateOpenDialog()" class="hint d-flex align-items-center justify-content-center">
          Click to open
        </div>
      </div>
    </div>
  </div>
  <div class="flex-grow-1"></div>
  <div class="footer text-right py-3">
    <hr class="mb-3">
    <button mat-raised-button *ngIf="!isEditing"
            class=" btn-edit" (click)="onEdit()">
      <i class="fal fa-edit ml-0 mr-1"></i> Edit
    </button>
    <button mat-raised-button *ngIf="isEditing"
            class=" btn-cancel mr-3" (click)="onCancelEdit()">
      <i class="far fa-ban mr-1"></i> Cancel
    </button>
    <button mat-raised-button *ngIf="isEditing"
            class=" btn-save" type="submit" form="form-edit">
      <i class="fal fa-check ml-0 mr-1"></i> Update
    </button>
  </div>
</div>
