@import "~src/sass/chevron/variables";

.avatar {
  width: 35px;
  height: 35px;
  background-color: $cl_border_1;
  color: $cl_charcoal;
  background-size: cover;
  background-position: center;
  border-radius: 100%;

  .hide {
    opacity: 0;
  }

  &:hover {
    .hide {
      opacity: 1;
    }
  }
}

