<div [class.mat-elevation-z8]="true">
  <div mat-dialog-title>
    <div class="d-flex flex-row title align-items-center">
      <span class="flex-grow-1">New Product Type</span>
      <button class="close" mat-icon-button (click)="onCancel()">
        <i class="fal fa-times"></i>
      </button>
    </div>
  </div>

  <div mat-dialog-content class="layout-dialog-form edit" style="overflow: visible;">
    <div mat-dialog-content class="dialog-content-full settings" style="overflow: visible; padding: 0 !important;">
      <form #editForm="ngForm" name="form">
        <div class="infos">
          <div class="row">
            <div class="item col-6">
              <label class="label" for="productCode">Product Code</label>
              <div class="form-group">
                <input class="form-control control no-radius-input" type="text" name="productCode" required
                  pattern="^(?!\s+$).+" [(ngModel)]="selectedItem.productCode">
              </div>
            </div>
            <div class="item col-6">
              <label class="label" for="description">Description</label>
              <div class="form-group">
                <input class="form-control control no-radius-input" type="text" name="description" required
                  pattern="^(?!\s+$).+" [(ngModel)]="selectedItem.description">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="item col-12" *ngIf="baseProductTypes.length">
              <label class="label" for="baseProductTypes">Base Product Types</label>
              <div class="form-group">
                <app-table-select-advance [columnNames]="['BaseProductCode', 'BaseProductCategory']" [dataArr]="baseProductTypes"
                  (selectedItemsChange)="onSelectedBasesProductTypesChange($event)"
                  [compareKey]="'BaseProductId'" [showKey]="'BaseProductCode'" name="baseProductTypes"></app-table-select-advance>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="item col-12">
              <label class="label mr-3" for="color">Color</label>
              <div class="form-group" style="width: 30px; height: 30px;">
                <input class="w-100 h-100 cursor-pointer" [(colorPicker)]="selectedItem.colorCode"
                  [style.background]="selectedItem.colorCode" name="color" />
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="form-buttons">
  <button mat-raised-button [class.mat-elevation-z8]="true" type="submit" class="btn btn-blue ml-10"
    [ngClass]="{'disabled-half': editForm.form.invalid || editForm.form.pristine || invalidUpdate()}"
    (click)="onCreate()">
    <i class="fal fa-check"></i>
    <span class="ml-2">Create New</span>
  </button>
</div>