<div class="d-flex align-items-center head">
    <img src="assets/images/chevron_icon.png">
    <span class="size-16 color-default font-weight-bold m-0 ml-10">Loading</span>
</div>
<div class="body">
    <perfect-scrollbar class="position-relative h-full ">
        <div class="gas-station-loading px-3">
            <ng-container *ngIf="trucks && trucks.length"
                          [ngTemplateOutlet]="itemLoading"
                          [ngTemplateOutletContext]="{ trucks: trucks}">
            </ng-container>
            <div *ngIf="!(trucks && trucks.length)" class="py-3">
                No data
            </div>
        </div>
    </perfect-scrollbar>
</div>

<ng-template #itemLoading let-trucks="trucks">
    <div class="item-group">
        <div class="item ml-n2 pt-0">
            <span class="item-port mr-1">B1</span>
            <span class="m-0 item font-weight-bold text-uppercase"
                  [style.color]="GET_COLOR_BY_PRODUCTCODE(PRODUCT_CODE?.B10_DIESEL)">{{PRODUCT_CODE?.B10_DIESEL}}</span>
        </div>
        <div class="d-flex ml-n2 flex-column">
            <div *ngFor="let truck of trucks" class="">
                <div class="d-flex align-items-center flex-row ">
                    <div class="item hover d-flex flex-row align-items-center w-100">
                        <i class="size-16 far fa-truck-container text-default"></i>
                        <span class="ml-10 flex-grow-1">{{truck?.truckPlate}}</span>
                        <i class="fal fa-poll-h cream size-16 ml-3 view cursor-pointer"
                           (click)="onTruckDetails(truck)"></i>
                    </div>
                </div>
                <div *ngFor="let order of truck?.pendingOrders; first as isFirst; last as isLast"
                     class="d-flex flex-row">
                    <div class="treeline" [class.last]="isLast"></div>
                    <div class="item hover d-flex">
                        <i class="fal fa-receipt text-default"></i>
                        <span class="ml-10 flex-grow-1">{{order?.salesOrderNumber}}</span>
                        <i class="fal fa-poll-h cream size-16 ml-3 view cursor-pointer"
                           (click)="onOrderDetails(order)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
