<div class="login-wrapper d-flex justify-content-center align-items-center position-relative">
  <div class="form-container">
    <!-- CHANGE PASSWORD -->
    <form class="default-form justify-content-center d-flex change-password-form" name="changePassForm"
          *ngIf="!!changePasswordModel"
          (ngSubmit)="changePassForm.form.valid && changePassword()" #changePassForm="ngForm" novalidate>
      <section class="form-controls">
        <div class="mb-3">
          <!-- OLD PASSWORD -->
          <div class="mt-3">
            <input class="w-100" type="password" placeholder="Current password" aria-label="" required noWhiteSpace
                   id="currentPassword" name="currentPassword" #currentPassword="ngModel"
                   autofocus
                   [(ngModel)]="changePasswordModel.currentPassword">
          </div>
          <div *ngIf="changePassForm.submitted && currentPassword.invalid" class="error text-left">
            <small *ngIf="currentPassword?.errors">* Current password is required</small>
          </div>

          <!-- NEW PASSWORD -->
          <div class="mt-3">
            <app-input-password-toggle [inputField]="txtNewPassword">
              <input class="w-100" type="password" placeholder="New password"
                     aria-label="" required noWhiteSpace
                     #txtNewPassword id="newPassword" name="newPassword" #newPassword="ngModel"
                     [(ngModel)]="changePasswordModel.newPassword">
            </app-input-password-toggle>
          </div>
          <div *ngIf="changePassForm.submitted && newPassword.invalid" class="error text-left">
            <small *ngIf="newPassword?.errors">* New password is required</small>
          </div>

          <!-- RE-NEW PASSWORD -->
          <div class="mt-3">
            <app-input-password-toggle [inputField]="txtRePassword">
              <input class="w-100" type="password" placeholder="Confirm password" aria-label="" required
                     noWhiteSpace compare="newPassword" id="reNewPassword" name="reNewPassword" #reNewPassword="ngModel"
                     #txtRePassword [(ngModel)]="changePasswordModel.reNewPassword">
            </app-input-password-toggle>
          </div>
          <div *ngIf="changePassForm.submitted && reNewPassword.invalid" class="error text-left">
            <small *ngIf="reNewPassword?.errors?.required || reNewPassword?.errors?.whitespace">* Confirm password is
              required
            </small>
            <small *ngIf="reNewPassword?.errors?.compare">* Confirm password and New password do not match</small>
          </div>

        </div>
        <div *ngIf="!!errorMessage" class="mt-3 error text-left">
          <small>* {{errorMessage}}</small>
        </div>
        <div class="d-flex justify-content-between mt-4">
          <button matRipple class="btn btn-blue btn-outline" type="button" (click)="cancelClicked()">Cancel</button>
          <button matRipple class="btn btn-blue" type="submit">Submit</button>
        </div>
      </section>
    </form>
  </div>
</div>
