<div class="h-full perfect-scrollbar-wrapper" perfectScrollbar>
  <div [class.mat-elevation-z8]="true">
    <div mat-dialog-title>
      <div class="d-flex flex-row title align-items-center">
        <span class="flex-grow-1">Update driver profile</span>
        <button class="close" mat-icon-button (click)="onCancel()">
          <i class="fal fa-times"></i>
        </button>
      </div>
    </div>

    <div mat-dialog-content class="driver-profile-wrapper-w h-dialog">
      <!-- <perfect-scrollbar class="h-full"> -->
      <div
        class="item d-flex align-items-start flex-column justify-content-between pt-2 pb-4"
      >
        <label class="label pb-2 status-label " for="status_id"
          >Driver status on {{ driverProfile.date.toDateString() }}</label
        >
        <div
          class="form-group"
          [ngClass]="{
            'w-50': newSleepingTimeInput.length || newWorkingTimeInput.length,
            'w-100': !newSleepingTimeInput.length && !newWorkingTimeInput.length
          }"
        >
          <mat-menu #driverStatus="matMenu">
            <button
              mat-menu-item
              class="text-white"
              *ngFor="let i of statusList; let j = index"
              (click)="updateStatus(i); setModified()"
            >
              {{ status[i] }}
            </button>
          </mat-menu>
          <button
            id="status_id"
            mat-button
            [matMenuTriggerFor]="driverStatus"
            class="btn-status w-100"
            (ngModelChange)="onTimeChange($event)"
          >
            <div class="d-flex justify-content-between align-items-baseline">
              <span *ngIf="!driverProfile.status.length"
                >Please pick a driver status</span
              >
              <span class="title text-white">{{
                status[driverProfile.status]
              }}</span>
              <button mat-icon-button [disableRipple]="true">
                <i class="far fa-chevron-down"></i>
              </button>
            </div>
          </button>
        </div>
      </div>
      <hr class="w-100 spare-line" />
      <h3>Sleeping time</h3>
      <div
        class="item d-flex flex-wrap align-items-center justify-content-between pb-3 "
        *ngFor="let sleepingTime of newSleepingTimeInput; let i = index"
      >
        <div class="form-group text-right d-flex flex-row align-items-stretch">
          <div
            class="d-flex input-time-group pr-3 align-items-start flex-column justify-content-between"
          >
            <span class="pb-3">From:</span>
            <div
              class="d-flex input-time align-items-start flex-row justify-content-between"
            >
              <md2-datepicker
                class="time-picker-spacing"
                [(ngModel)]="sleepingTime.sleepStartTime"
                [format]="'y-MM-dd (HH:mm)'"
                (ngModelChange)="onTimeChange($event)"
                [type]="'datetime'"
                [openOnFocus]="true"
                [ngModelOptions]="{ standalone: true }"
              ></md2-datepicker>
              <i class="fal fa-user-clock timer-pick-user-lock-icon"></i>
            </div>
          </div>
          <div
            class="d-flex input-time-group pr-3 align-items-start flex-column justify-content-between"
          >
            <span class="pb-3">To:</span>
            <div
              class="d-flex input-time align-items-start flex-row justify-content-between"
            >
              <md2-datepicker
                class="time-picker-spacing"
                [(ngModel)]="sleepingTime.wakingUpTime"
                [format]="'y-MM-dd (HH:mm)'"
                [openOnFocus]="true"
                (ngModelChange)="onTimeChange($event)"
                [type]="'datetime'"
                [ngModelOptions]="{ standalone: true }"
              ></md2-datepicker>
              <i class="fal fa-user-clock timer-pick-user-lock-icon"></i>
            </div>
          </div>
          <div
            class="d-flex position-relative pb-1 align-items-start align-self-end flex-column justify-content-between"
          >
            <button
              mat-raised-button
              type="button"
              class="btn btn-blue p-0 button-plus btn-cancel"
              (click)="onRemoveSleepingTime(sleepingTime)"
            >
              <i class="fal fa-trash-alt"></i>
            </button>
          </div>
        </div>
      </div>
      <div
        class="item d-flex align-items-start flex-row justify-content-between pb-3"
      >
        <div class="form-group">
          <button
            mat-button
            class="btn btn-blue p-0 button-plus mr-3"
            (click)="onAddNewSleepingTime()"
          >
            <strong><i class="fal fa-plus"></i></strong>
          </button>
          <span>New sleeping time</span>
        </div>
      </div>
      <hr class="w-100 spare-line" />
      <h3>Working time</h3>
      <div
        class="item d-flex flex-wrap align-items-center justify-content-between pb-3"
        *ngFor="let workingTime of newWorkingTimeInput; let i = index"
      >
        <div class="form-group text-right d-flex flex-row align-items-center">
          <div
            class="d-flex input-time-group pr-3 align-items-start flex-column justify-content-between"
          >
            <span class="pb-3">From:</span>
            <div
              class="d-flex input-time align-items-start flex-row justify-content-between"
            >
              <md2-datepicker
                class="time-picker-spacing"
                md-hide-icons="calendar"
                [format]="'y-MM-dd (HH:mm)'"
                [(ngModel)]="workingTime.workingStartTime"
                (ngModelChange)="onTimeChange($event)"
                [type]="'datetime'"
                [openOnFocus]="true"
                [ngModelOptions]="{ standalone: true }"
              ></md2-datepicker>
              <i class="fal fa-user-clock timer-pick-user-lock-icon"></i>
            </div>
          </div>
          <div
            class="d-flex input-time-group pr-3 align-items-start flex-column justify-content-between"
          >
            <span class="pb-3">To:</span>
            <div
              class="d-flex input-time align-items-start flex-row justify-content-between"
            >
              <md2-datepicker
                class="time-picker-spacing"
                [(ngModel)]="workingTime.workingEndTime"
                [format]="'y-MM-dd (HH:mm)'"
                [openOnFocus]="true"
                (ngModelChange)="onTimeChange($event)"
                [type]="'datetime'"
                [ngModelOptions]="{ standalone: true }"
              ></md2-datepicker>
              <i class="fal fa-user-clock timer-pick-user-lock-icon"></i>
            </div>
          </div>
          <div
            class="d-flex position-relative pb-1 align-items-start align-self-end flex-column justify-content-between"
          >
            <button
              mat-raised-button
              type="button"
              class="btn btn-blue p-0 button-plus btn-cancel"
              (click)="onRemoveWorkingTime(workingTime)"
            >
              <i class="fal fa-trash-alt"></i>
            </button>
          </div>
        </div>
      </div>
      <div
        class="item d-flex align-items-start flex-row justify-content-between pb-3"
      >
        <div class="form-group">
          <button
            mat-button
            class="btn btn-blue p-0 button-plus mr-3"
            (click)="onAddNewWorkingTime()"
          >
            <strong><i class="fal fa-plus"></i></strong>
          </button>
          <span>New working time</span>
        </div>
      </div>
      <div
        class="item d-flex flex-wrap align-items-center justify-content-between mt-2 mb-2"
      >
        <div *ngIf="error.length" class="error text-right">
          <small class="text-white">{{ error }}</small>
        </div>
      </div>
      <!-- </perfect-scrollbar> -->
    </div>
  </div>
  <div class="form-buttons">
    <button
      mat-raised-button
      [class.mat-elevation-z8]="true"
      type="button"
      class="btn btn-blue btn-cancel"
      (click)="onCancel()"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      type="button"
      class="btn btn-blue ml-3"
      (click)="update()"
      [ngClass]="{ 'disabled-half': error.length || !isModified || inProgress }"
    >
      <i class="fal fa-pencil-square-o"></i> <span>Update</span>
    </button>
  </div>
</div>
