// .search {
//   position: relative;
//   width: 0;
//   transition: width 1s;

//   &:hover {
//     width: 100%;
//   }
// }

.i-close {
  display: none;
}

.i-close:active {
  color: #2496c9;
}

.btn-w-242 {
  width: 242px;
  max-width: 242px !important;
}

.mr-6 {
  margin-right: 6px;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-inner-container{
    border-width: 1px !important;
}

[class*=sticky]{
    z-index: 1;
}
